/* Components */

/* Navbar css */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    flex-shrink: 0;
    background: var(--gray-gray-5, rgba(162, 161, 168, 0.05));
    width: 280px;
    height: 1024px;
}

.logo {
    padding-top: 30px;
    padding-left: 30px;
}

.menu {
    padding-top: 50px;
    padding-left: 30px;

}

ul {
    list-style: none;
}

li img {
    width: 24px;
    height: 24px;
}

li {
    color: var(--Neutral-Black-100, #000);
    /* Subtitles/S1 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    gap: 10px
}

li:hover {
    color: var(--Primary-500, #5F6AFF);
}

li.active {
    border-radius: 0px 10px 10px 0px;
    background: var(--Secondary-60, #CCCFFF);
    color: var(--Secondary-100, #5F6AFF);
}

.logout-item {
    display: flex;
    margin-top: 150px;
    bottom: 0px;
    width: 220px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Primary-60, #FFBF66);
    align-items: center;
    justify-content: center;
    border: none;
}

.logout-item:hover {

    color: var(--Neutral-Black-100, #000);
}

/* Navbar css End*/

/* Userbar css */

.userbar__container {
    display: flex;
    position: fixed;
    left: 280px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: calc(100% - 280px);

}

.userbar__container--greetings {
    padding: 10px;

}

.userbar__container--user {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;

}

.userbar__container--name {
    color: var(--Neutral-Black-100, #000);

    /* Headlines/H6 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}

.userbar__container--greeting {
    color: var(--Secondary-140, #0012FF);
    /* Body-2 Regular */
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    /* 157.143% */
}

.p-line1 {
    color: var(--Secondary-140, #0012FF);
    /* Subtitles/S1 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

.p-line2 {
    color: var(--Secondary-140, #0012FF);

    /* Caption Regular */
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 150% */
}

.userbar-notification {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Secondary-60, #CCCFFF);

}

.userbar__container--user--item {
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid var(--Secondary-60, #CCCFFF);
    margin-left: 30px;
}

.userbar__container--user--item img {
    width: 45.5px;
    height: 40.444px;
}


/* Userbar css End*/

/* HappyChart css */

.happychart-container {

 
display: flex;
position: fixed;
left: 290px;
flex-direction: row;
justify-content: space-between;
align-items: center;
top: 80px;
}

.happychart-title h2 {
    color: var(--Neutral-Black-100, #000);

    /* Headlines/H6 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}

.happychart-title h3 {
    color: var(--Secondary-140, #0012FF);

    /* Subtitles/S2 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
}

.happychart {
    display: flex;
    position: fixed;
    top: 130px;
    left: 300px;
    gap: 20px;
    /* Ajusta el espacio entre los gráficos según tu preferencia */
}
.entrada {
    position: fixed;    
    left: 360px;
    top:200px;
    color: var(--Secondary-100, #5F6AFF);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15px;
}

.salida {
    position: fixed;    
    left: 540px;
    top:200px;
    color: var(--Secondary-100, #5F6AFF);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15px;
}

.total {
    position: fixed;    
    left: 715px;
    top:200px;
    color: var(--Secondary-100, #5F6AFF);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15px;
}
.happychart-labels
{
   position: fixed;
   left: 860px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 170px;
}
/*para el dashboard*/

.happychart-labels_dash{
    position: fixed;
   left: 680px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 170px;
}

.happychart-labels .happychart-labels_dash p{
    color: var(--Neutral-Black-100, #000);
/* Subtitles/S2 */
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1px;
}
.uno{
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
}
.rectangle1{
    width: 18px;
height: 18.063px;
flex-shrink: 0;
border-radius: 4px;
opacity: 0.75;
background: var(--Primary-100, #FF9F1C);
}
.rectangle2{
    width: 18px;
height: 18.063px;
flex-shrink: 0;
border-radius: 4px;
opacity: 0.75;
background: var(--Secondary-100, #5F6AFF);
}
.rectangle3{
    width: 18px;
height: 18.063px;
flex-shrink: 0;
border-radius: 4px;
opacity: 0.7;
background: var(--Neutral-Black-100, #000);
}
.rectangle4{
    width: 18px;
height: 18.063px;
flex-shrink: 0;
border-radius: 4px;
opacity: 0.75;
background: var(--Ira, #EB5757);
}
canvas {
    width: 156.041px;
    height: 156.041px;
    max-width: 156.041px;
    max-height: 156.041px;
}

/* HappyChart css End*/