/*Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, :root {
  all: initial;
}

/* Global css END*/

/* Login Page css */
.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/meeting-594091_640.png") lightgray 50% / cover no-repeat;
  opacity: 0.25;
  mix-blend-mode: luminosity;
}
.login-title{
  z-index: 1;
 
flex-shrink: 0;

}
.login-description{
  z-index: 1;
  width: 446px;
height: 109px;
flex-shrink: 0;
padding-top: 50px;
padding-bottom: 20px;
}

.login-description p{
  color: #000;

font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.15px;
}
.login-description span{
  color: #000;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.15px;
}
.confia{
  display: flex;
  align-items: flex-end;

}
.confia svg{
  
  margin-left: 10px;
}
.login-form{
  z-index: 1;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-form-group{
  width: 446px;
height: 60px;
flex-shrink: 0;
padding-top: 10px;
display: flex;
height: 55px;
padding: 9px 16px;
align-items: center;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
border-radius: 6px;
border: 1px solid var(--Secondary-100, #5F6AFF);
background: var(--Neutral-White, #FFF);
box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
margin-top: 10px;
justify-content: space-between
}
.password-container{
  width: 446px;
height: 60px;
flex-shrink: 0;
padding-top: 10px;
display: flex;
height: 55px;
padding: 9px 16px;
align-items: center;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
border-radius: 6px;
border: 1px solid var(--Secondary-100, #5F6AFF);
background: var(--Neutral-White, #FFF);
box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
margin-top: 20px;
justify-content: space-between
}
input {
  border:none
}
input::placeholder{
  color: var(--Neutral-Black-80, #333);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  background: transparent ;;
}
input::checkbox{
  fill: var(--Secondary-140, #0012FF);
}
.login-form-text{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.login-form-text label{
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.5px;
padding-bottom: 3px;
}

.login-form-text p{
  color: var(--Primary-500, #7152F3);
text-align: right;
/* Subtitles/S2 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1px;
}
.form-input:focus {
  outline: none; 
  background: transparent;
  
}
.login-password:focus {
  outline: none; 
  background: transparent;
  
}


.form-button{
  
  display: flex;
width: 446px;
height: 55px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 6px;
background: var(--Secondary-100, #5F6AFF);

border:none;
  color: var(--Default-White, #FFF);

/* Captions/Btn */
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.25px;
text-transform: uppercase;
}

.login-form-group-button{
  padding-top: 25px;

}

.remember-me{
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Login Page css END*/

